
mat-card {
  background: #222831;
  color: #3f51b5;
}

mat-form-field,
textarea {
  width: 100%;
  color: #3f51b5;
}

.mat-raised-button {
  color: #222831;
}
/*.mat-form-field:focus .mat-form-field-ripple {*/
/*  background-color: #3f51b5;*/
/*}*/
